.inp_box_b {
    .label-input {
        color: #000;
        font-weight: bold;
    }

    .input-style{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        height: 34px;
    }
}
